<div class="section" id="about">
    <div class="container">
      <div class="card" data-aos="fade-up" data-aos-offset="10">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">About</div>
              <p>
                Hi, I'm <strong>Aditya Pal</strong>. Currently I am a full time Analyst at Goldman Sachs and I have expertise with Python (also <i>Flask</i> for Web Development), Java, PHP, C and C++. I studied in IIT Bhubaneswar (2016-2020 CSE batch) and was the gold medalist, with a final CGPA of 9.76.
              </p>
              <p>
                I like to solve new problems and occasionally dribble in competitive coding. I also love to read books, watch TV shows and anime (check out my <a href = "https://myanimelist.net/Uni_Omni" >MAL</a> profile) to refresh myself. I am currently trying to become more proficient in Go.
              </p> 
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">My basic metadata</div>
              <div class="row">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Date of Birth:</strong>
                </div>
                <div class="col-sm-8">14th February, 1998</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Email:</strong>
                </div>
                <div class="col-sm-8">adityapal.nghss@gmail.com/ap37@iitbbs.ac.in</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Phone:</strong>
                </div>
                <div class="col-sm-8">8240644146/8902009274</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Address:</strong>
                </div>
                <div class="col-sm-8">
                  6/3, Kastodanga Das Para Link Road, Shibrampur, Kolkata - 700061
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Language:</strong>
                </div>
                <div class="col-sm-8">English, Hindi, Bengali</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>