<div class="section" id="education">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Education</div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2016 - 2020</p>
              <div class="h5">Bachelor's Degree</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Bachelor of Technology</div>
               <h4 class="category">Indian Institute of Technology, Bhubaneswar
               </h4>
               <ul>
                 <li>IIT Bhubaneswar is a 2nd generation IIT and is consistently among top 20 in NIRF Rankings.
                 <li>Completed B.Tech in Computer Science and Engineering with <b>9.76 CGPA</b>.</li>
                 <li>Won the <b>Gold Medal</b> for best academic performance across all branches.</li>
                 <li>Maintained above <b>9.5</b> SGPA in every semester of college.</li>
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2014 - 2016</p>
              <div class="h5">Higher Secondary</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Higher Secondary</div>
               <h4 class="category">National Gems Higher Secondary School
               </h4>
               <ul>
                <li>Continued in the same school where I completed my 10th</li>
                <li>Scored <b>96.75%</b> in ISC</li>
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2004-2014</p>
              <div class="h5">Sedcondary School</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Secondary School</div>
               <h4 class="category">National Gems Higher Secondary School
               </h4>
               <ul>
                <li>This is a basic school in Behala, Chowrasta, Kolkata</li>
                <li>Completed ICSE examination with <b>97.6%</b></li>
             </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>