<div class="section" id="projects">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Projects</div>
            
     <div class="row">
    
    
       <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" >
        <img class="card-img-top" src="assets/images/p11.PNG" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Personal Portfolio Using Angular</h4>
          <h5 class="card-text"><b>Technology :</b> Angular8, Bootstrap3 </h5>
          <h5 class="card-text"><a href="#">You are viewing demo :P</a></h5>
          <a href="https://github.com/PalAditya/PalAditya.github.io" class="btn btn-primary stretched-link" style = "display: block; margin: 0 auto;">Github</a>
        
        </div>
      </div>
    </div>
    </div>
    
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" >
        <img class="card-img-top" src="assets/images/p10.png" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Stock market Emulator Project</h4>
          <h5 class="card-text"><b>Technology:</b> Python (Flask), SQLite, CSS, Bootstrap, HTML</h5>
            <h5 class="card-text"><a href = "https://database-lab-app.herokuapp.com/">Live Demo</a></h5>
            <a href="https://github.com/PalAditya/DBMSProject2019" class="btn btn-primary stretched-link" style = "display: block; margin: 0 auto;">Github</a>
        </div>
      </div>
    </div>
    </div>
    
    
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <img class="card-img-top" src="assets/images/p9.png" alt="Card image" style="width:100%">
        <div class="card-body">
         <h4 class="card-title">Simple URL Shortener Application</h4>
           <h5 class="card-text"><b>Technology:</b> Python, Flask, Firebase</h5>
           <h5 class="card-text"><a href="https://shorten-uni.herokuapp.com/">Live demo</a></h5>
          <a href="https://gist.github.com/PalAditya/fa33d6fe5137418ed73dbe1ffac24baf" class="btn btn-primary stretched-link" style = "display: block; margin: 0 auto;">Github</a>
        </div>
    </div>
    </div>
      </div>
    
    </div>
    </div>
  </div>